.articleDetail {
    width: 740px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.article__image {
    position: relative;
}

.articleImg {
    width: auto;
    z-index: -1;
    position: relative;
}

.article__name {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #EBEEF3;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #EBEEF3;
    padding: 6px 10px;
    background-color: #00000082;
}

.article__date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100.9%;
}

.article__title {
    margin: 18px 0 15px;
    color: #262626;
    font-family: Sequel Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 415;
    line-height: 29px;
}

.article__text {
    margin-bottom: 8px;
    color: #252525;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.9%;
}

.articleBtn {
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #808080;
}

.articleBtn:hover {
    color: #464646;
}

.commentSection {
    padding: 30px 5px;
}

.com__title {
    font-size: 24px;
    margin-bottom: 20px;
}

.inputCom {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.addComBtn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.addComBtn:hover {
    background-color: #0056b3;
}

.comment {
    width: 730px;
    margin-top: 10px;
    padding: 10px;
    padding-right: 50px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.076);
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
}

.comment p {
    margin: 0;
    padding-left: 4px;
    word-break: break-all;
}

.comment__inner {
    display: flex;
    justify-content: space-between;
}

.removeBtnComment {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 27px;
}

.comment__user {
    display: flex;
     align-items: center;
     margin-bottom: 5px;
}


.user__avatar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    margin-right: 5px;
}