.header {
    padding: 20px 0;
    
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header__ul {
    width: 715px;
    display: flex;
    font-family: Comic Sans MS, cursive;
    justify-content: space-between;
    font-weight: 600;
}

.header__li {
    
}

.header__navLink {
    color: #26262699;
}

.header__navLink:focus {
    color: #262626;
}

.header__input {
    width: 100px;
    height: 30px;
    text-align: left;
    background-color: #B8C2CE;
    border-radius: 6px;
    border-style: none;
    padding: 0 15px;
}

.header__input::placeholder {
    color: #fff;
}

.header__search {
    position: relative;
}

.header__search::after {
    content: '';
    background: url('../images/search.png') no-repeat;
    position: absolute;
    top: -5px;
    right: -70px;
    color: #000;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

