.footer {
    background-color: #f7f7f7;
    padding: 10px 0;
    text-align: center;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .socialIcons a {
    color: #333; 
    font-size: 28px;
    margin: 5px;
    margin-right: 20px;
    transition: color 0.3s; 
  }
  
  .socialIcons a:hover {
    color: #007bff; 
  }
  
  .footerBottom {
    font-size: 14px;
    color: #666; 
  }
  